body{
    font-family: "Roboto Slab", serif;
  }



.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.heading{
text-align: center;
padding:70px 0;
font-weight: 600;
font-size: 60px;
color: #D39300;
}

.inputWrper{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 20px;
}

.inputWrper>label{
    font-size: 22px;
    font-weight: 600;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputWrper>input{
    padding: 9px;
    width: 100%;
    font-size: 18px;
}

.allInputWrper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 120px;
}

.buutonWrper{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buutonWrper>button{
    width: 100%;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    padding: 10px 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    background:#D39300;
    border: none;
}

.cashCardWrper{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}
.cashCardWrper>div{
    display: flex;
    align-items: center;
    gap: 8px;
}
.cashCardWrper>div>label{
    font-size: 19px;
    font-weight: 500;
}

.checkboxInputer{
cursor: pointer;
height: 35px!important;
width: 35px!important;
}



@media (max-width:700px) {

    .allInputWrper{
        padding-bottom: 50px;
    }

    .inputWrper{
        flex-direction: column;
        margin: 3px 0;
    }
    
    .inputWrper>label{
        font-size: 22px;
        font-weight: 600;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }
    .buutonWrper{
        margin-bottom: 0px;
    }
}